<div ng-controller="TimeController as timeController">
    <h2>Time <a ng-click="timeController.toggleFavorite()"><i class="fa" ng-class="timeController.isFavorite() ? 'fa-bookmark' : 'fa-bookmark-o'"></i></a></h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="timeRefreshInterval">Refresh every</label>
            <div class="col-sm-3">
                <select id="timeRefreshInterval" class="form-control" ng-model="timeController.refreshInterval" ng-options="item.caption for item in timeController.refreshIntervals" ng-change="timeController.refreshIntervalChanged()">
                </select>
            </div>
            <ul class="nav nav-pills">
                <li><button class="btn btn-primary" ng-click="timeController.pause()"><i class="fa fa-pause"></i></button></li>
                <li><button class="btn btn-primary" ng-click="timeController.play()"><i class="fa fa-play"></i></button></li>
            </ul>
        </div>
    </form>
    Raspberry Pi time: <strong>{{timeController.getTime()}}</strong>.<br>
    Uptime: <strong>{{timeController.getUptime().years()}}</strong> years <strong>{{timeController.getUptime().months()}}</strong> months <strong>{{timeController.getUptime().days()}}</strong> days <strong>{{timeController.getUptime().hours()}}</strong> hours <strong>{{timeController.getUptime().minutes()}}</strong> minutes <strong>{{timeController.getUptime().seconds()}}</strong> seconds.
</div>